@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Varela+Round|Roboto&display=swap');
html
{
	font-family:"Varela Round", "Myriad Pro";
	overflow-x: hidden;
}
html, body{
	margin: 0;
	height:100%;
}
.head
{
	position: relative;
	background:radial-gradient(circle at right, rgba(0,0,0,0.8), #100e17 40%), url(brakes.jpg) no-repeat right;
	height:300px;
	border-style:solid;
	border:0px;
	border-radius:0px 0px 200px 0px;
}
.head h1
{
	position: relative;
	top:-80%;
	left:5%;
	font-size: 40pt;
	font-family: Ubuntu, sans;
	color:white;
}
.head-gradient
{
	position: relative;
	background:linear-gradient(90deg, rgb(0,37,138) 0%, rgb(26,140,226) 100%);
	height:350px;
	z-index: -2;
}
.topnav a
{
	color:white;
	text-decoration:none;
	padding:15px 30px;
	border-style:solid;
	border-color:#302F34;
	border-width:0px 1px 0px 0px;
	text-align:center;
	display:block;
	float:left;
	font-family:ubuntu, corbel, sans;
	font-variant:small-caps;
}
.topnav a:hover
{
	background-color:#4585DE80;
}
.anim1 {
	position:relative;
	animation:moving1 1s ease-out 0.2s alternate both 1;
}
@keyframes moving1 {
	from{right:100%;}
	to{right:0%;}
}
.content {
	display:flex;
	flex-flow:column;
	margin-left: 5%;
	margin-right: 5%;
}
.content h1 {
	position: relative;
	color:black;
	left:2%;
	font-size: 30pt;
	font-family: Roboto, "Sans";
}
.content h2 {
	position:relative;
	left:2%;
}
.content p {
	position: relative;
	left:2%;
	text-align: justify;
	margin-right: 4%;
	font-size: 20px;
}
.text {
	display: flex;
	flex-flow: column;
}
.section {
	flex-basis: 100%;
}
.image {
	display: flex;
	flex-flow: column;
}
.floating {
	background-color: rgb(240,240,240);
	color:rgb(100,100,100);
	width:350px;
	margin:0% 1% 1% 5%;
	border-radius: 5px;
	float: right;
}
.floating p {
	font-size: 17px;
}

/* Firefox scrollbar */
.scroller {
	overflow-y: scroll;
  scrollbar-color: rgb(26, 140, 226) rgb(8, 60, 100);
  scrollbar-width: thin;
}
/* Chrome-based scrollbars */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(26,140,226);
  border-radius: 10px;
}

.social {
	color:#0071BC;
	display: flex;
	flex-flow: row;
	justify-content: space-around
}

.instagram {
	font-size: 20pt;
	margin: 1%;
}
.instagram a {
	text-decoration: none;
	color: rgb(223, 223, 223);
	font-size:15pt
}
.instagram a:hover {
	color: rgb(10, 45, 97);
}

.youtube {
	font-size: 20pt;
	margin: 1%;
}
.youtube a {
	text-decoration: none;
	color: rgb(223, 223, 223);
	font-size:15pt
}
.youtube a:hover {
	color: rgb(10, 45, 97);
}

.facebook {
	font-size: 20pt;
	margin: 1%;
}
.facebook a {
	text-decoration: none;
	color: rgb(223, 223, 223);
	font-size:15pt
}
.facebook a:hover {
	color: rgb(10, 45, 97);
}

@media all and (max-width: 600px) {
	.text {
		flex-direction: column;
	}
	.floating {
		margin:3%;
		width: 95%;
	}
	.social {
		flex-flow: column;
	}
	.instagram, .facebook, .youtube {
		margin: 5%;
	}
}